.parent {
    padding: 5px;
    display: grid;
    grid-template-columns: 100px 100px repeat(2, 1fr) auto;
    background-color: antiquewhite;
    width: 500px;
    height: 400px;
}

.parent div {
    margin: 1px;
    background-color: red;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}