 div {
    /* solid Color */
    color: blue;
     /* RGB Color */
     background-color: rgb(255, 200 , 150 , 70%) ;
     /* Hex code Color */
    background-color: #ff6578; 
    /* back ground image */
    background-image: url("../images/akali.jpg" );
    background-attachment: fixed;
    background-size: cover;
    padding: 40px;
    margin: 40px;
    border-radius: 4px;
    border-color: blue;
    border-style: dotted;


}
.displayDiv{
    display: none;
}
.visableDiv{
    visibility: hidden;
}
div p{
    background-color: black;
}
a{
    padding: 10px;
    background-color: bisque;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    text-transform: capitalize;

}