*{
    box-sizing: border-box;
    margin: 0;
    padding:  0;
}

div{
    width: 200px;
    height: 150px;
    margin: 50px auto;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: change-color;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes change-color{
    0%{
        background-color: red;
    }
    25%{
        background-color: orange;
    }
    50%{
        background-color: yellow;
    }
    75%{
        background-color: green;
    }
    100%{
        background-color: blue;
    }
}