html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.trans{
    box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(212, 58, 186);
        color: white;
        width: 33%;
        margin: 50px auto ;
        height: 200px;
        
        
}

.trans:hover{
    transform: rotate(360deg);
    transition: 0.5s;
}

 img{
    width: 50%;
    margin: 10px auto;
    display: flex;
    transition: 0.5s;
 }
 img:hover{
     transform: rotate(2deg) scale(1.1);
     /* opacity: 0.9; */
 }

 .translate{

    box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(212, 58, 186);
        color: white;
        width: 33%;
        margin: 50px auto ;
        height: 200px;
        transition: 0.5s;
 }

 .translate:hover{
     transform: translate(100px, -100px);
 }