
div{
    box-sizing: border-box;
}
.flex{
    display: flex;
    margin: 10px auto;
    padding: 10px;
    background-color: #eee;
    width: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-end;
    
}

.flex div{
    background-color: red;
    color: white;
    padding: 20px;
    width: calc(100% /3);
    text-align: center;
}

.center{
    background-color: burlywood;
    color: white;
    width: 40%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}