
div{
    box-sizing: border-box;
}
.flex{
    display: flex;
    width: 600px;
    align-items: center; 
    margin: 10px auto;
    padding: 10px;
    background-color: #eee;
    width: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    
}

.flex div{
    background-color: red;
    color: white;
    padding: 20px;
    width: 80px;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 5px;
}

.center{
    background-color: burlywood;
    color: white;
    width: 40%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one{
    display: flex;
    justify-content: center ;
    flex-direction: row-reverse;
}